<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Map" tabIcon="pin"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="My Places" tabIcon="list-box"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Contacts" tabIcon="contacts"></ion-tab>  
</ion-tabs>
