<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Chat</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    
        <div *ngFor="let item of messages">                    
          
          <div *ngIf="item.to == me.email && item.from == contact.email">
          <ion-item>
              <div class="container">            
                  <p>{{ item.body }}</p>
                  <span class="time-left">11:00</span>
              </div>                
          </ion-item>          
          </div>

          <div *ngIf="item.from == me.email && item.to == contact.email">
            <ion-item>
              <div class="container darker" style="text-align: right">
                  <p>{{ item.body }}</p>
                  <span class="time-right">11:01</span>
              </div>                  
            </ion-item>
          </div>
         
        </div>
    
</ion-content>


<ion-footer>
  <ion-toolbar position="bottom">
    <ion-input  placeholder="Type a message" #mbody clearInput></ion-input>
    <ion-buttons end>
      <button ion-button icon-only class="form-control" (click)="sendMessage(mbody.value); mbody.value='' ">
        <ion-icon name="send"></ion-icon>
      </button>      
    </ion-buttons>
  </ion-toolbar>
</ion-footer>