<ion-header>
  <ion-navbar> 
         
    <ion-title>
      <button ion-button icon-only (click)="exit()">
        <ion-icon name="exit"></ion-icon>
      </button>                      
      Contacts
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addContact()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>  
</ion-header>


<ion-content>    
      
  <ion-list>
    <ion-item *ngFor="let item of contacts" (click)="goToChat(item)">
      <ion-thumbnail item-start>
          <button ion-button large><ion-icon name="person"></ion-icon></button>
      </ion-thumbnail>
      <h2>{{ item.name }}</h2>
      <p>{{ item.email }}</p>
      <button ion-button clear item-end><ion-icon name="chatboxes"></ion-icon></button>
    </ion-item>
  </ion-list>

</ion-content>
