<ion-header>
  <ion-navbar>
    <ion-title>
      <button ion-button icon-only (click)="exit()">
        <ion-icon name="exit"></ion-icon>
      </button>
      Map
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div id="map_canvas">
    <button ion-button (click)="onButtonClick($event)">Add Current Location</button>
  </div>
</ion-content>
